$text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
$black: #000000;
$dark-accent: #114956;
$mid-accent: #11a0d9;
$light-accent: #bbf2c3;
$bg-1: #ffffff;
$bg-2: #e9ecef;
$dark-gray: #26292b;

// New color scheme
// {
//   "0": "#dbffef",
//   "5": "#d2feeb",
//   "10": "#cafde8",
//   "20": "#b9fae3",
//   "30": "#a9f6e0",
//   "40": "#9af0e1",
//   "50": "#8ce8e6",
//   "60": "#7fcfde",
//   "70": "#73add1",
//   "80": "#6786c2",
//   "90": "#5b5fb0",
//   "100": "#634f9c",
//   "110": "#684487"
// }
