@import "../../sass/variables.scss";

/*ANIMATION*/
.animation {
  background-color: #e9ecef;
  border-bottom: 1px solid $bg-2;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  display: flex;
  justify-content: center;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 auto;
}
